@import "_rem.scss";

html {


    @include rem-baseline;
    @media (max-width: 1199px) {
        .announce-content-wraper .content .date {
            font-size: rem(13px);
        }
        .service .nav li {
            margin: rem(5px) rem(20px);
        }
    }


    @media (max-width: 991px) {
        .banner-alart {
            font-size: rem(19px);
        }
        .announce-content-wraper .content .date {
            font-size: rem(14px);
        }
        .service .nav li {
            margin: rem(5px) rem(10px);
        }
        .service .nav li a {
            font-size: rem(20px);
        }
    }


    @media (max-width: 767px) {
        @include rem-baseline(90%);
        .video-gallery iframe.small {
            min-height: rem(298px);
        }
        .subscribe h2 {
            text-align: center;
            margin-bottom: rem(15px);
        }
    }


    @media (max-width: 575px) {
        @include rem-baseline(90%);
        .slider .content h2 {
            font-size: rem(24px);
        }
        .slider .content {
            padding: 0 rem(25px);
            min-height: rem(500px);
        }
        .subscribe input[type="text"] {
            margin-bottom: rem(15px);
        }
        .service .owl-dots .owl-dot {
            width: rem(37px);
        }
    }



    @media (max-width: 480px) {
        .carousel-control {
            display: none;
        }
        .announce-content-wraper .content .date,
        .announce-content-wraper .content .img img,
        .announce-content-wraper .content .img p {
            width: 100%;
        }
        .announce-content-wraper .content .img {
            flex-flow: row wrap;
        }
        .calander-sidebar-content-wraper a.title-link {
            width: 73%;
        }
        .poll-form .submit p {
            padding: 0 0.375rem;
        }
        .footer-social li {
            margin: 0.3125rem rem(14px);
        }
    }

}
