@import "_rem.scss";

html {
    @include rem-baseline;

    @media (max-width: 767px) {
        @include rem-baseline(75%);
    }
    @media (max-width: 575px) {
        @include rem-baseline(90%);
        .slider .content h2 {
            font-size: rem(24px);
        }
        .slider .content {
            padding: 0 rem(25px);
            min-height: rem(500px);
        }
    }
    @media (max-width: 480px) {
        .carousel-control {
            display: none;
        }
    }

}
