html {
  font-size: 100%;
}
@media (max-width: 1199px) {
  html .announce-content-wraper .content .date {
    font-size: 0.8125rem;
  }
}
@media (max-width: 991px) {
  html .banner-alart {
    font-size: 1.1875rem;
  }
  html .announce-content-wraper .content .date {
    font-size: 0.875rem;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 90%;
  }
  html .video-gallery iframe.small {
    min-height: 18.625rem;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 90%;
  }
  html .slider .content h2 {
    font-size: 1.5rem;
  }
  html .slider .content {
    padding: 0 1.5625rem;
    min-height: 31.25rem;
  }
}
@media (max-width: 480px) {
  html .carousel-control {
    display: none;
  }
  html .announce-content-wraper .content .date,
  html .announce-content-wraper .content .img img,
  html .announce-content-wraper .content .img p {
    width: 100%;
  }
  html .announce-content-wraper .content .img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  html .calander-sidebar-content-wraper a.title-link {
    width: 73%;
  }
  html .poll-form .submit p {
    padding: 0 0.375rem;
  }
}
