html {
  font-size: 100%;
}
@media (max-width: 991px) {
  html .banner-alart {
    font-size: 1.1875rem;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 90%;
  }
  html .video-gallery iframe.small {
    min-height: 18.625rem;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 90%;
  }
  html .slider .content h2 {
    font-size: 1.5rem;
  }
  html .slider .content {
    padding: 0 1.5625rem;
    min-height: 31.25rem;
  }
}
@media (max-width: 480px) {
  html .carousel-control {
    display: none;
  }
}
