@import "_rem.scss";
$l: 'Lato',
sans-serif;
$r: 'Roboto',
sans-serif;
body {
    font-family: $r;
    color: #000;
    background: #ECEFF1;
    top: 0 !important;

}

//.container,
//[class*='col-'] {
//    padding-left: rem(15px);
//    padding-right: rem(15px);
//}
//
//.row {
//    margin-right: rem(-15px);
//    margin-left: rem(-15px);
//}
//@media (min-width:576px) {
//    .container {
//        width: 550px;
//    }
//}
//
//@media (min-width:768px) {
//    .container {
//        width: 750px;
//    }
//}
//
//@media (min-width:992px) {
//    .container {
//        width: rem(970px);
//    }
//}
//
//@media (min-width:1200px) {
//    .container {
//        width: rem(1170px);
//    }
//}
.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.header-top {
    background: #292929;
}

.flex-center-hor {
    display: flex;
    align-items: center;
}

.social-top {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    padding: rem(5px) 0;
    li {
        display: inline-block;
        margin-right: rem(60px);
        &:last-child {
            margin-right: 0;
        }
        a {
            display: block;
            width: rem(30px);
            height: rem(30px);
            background: #fff;
            color: #1F292E;
            border-radius: 50%;
            text-align: center;
            line-height: rem(30px);

        }
        a.img {
            width: auto;
            height: auto;
            background: transparent;

            img {
                max-width: 100%;
            }
        }
    }
}

.social-top-2 {
    text-align: right;
}

.search-top {
    background: rgba(0, 0, 0, .50);
    position: absolute;
    top: 100%;
    z-index: 999;
    left: 0;
    width: 100%;
    input {
        background: transparent;
        float: left;
        width: calc(73% - 2.125rem);
        border: none;
        height: rem(28px);
        border-bottom: rem(1px) solid #fff;
        margin: rem(19.5px) rem(17px);
        color: #fff;
    }
    button {
        background: rgba(0, 0, 0, .50);
        float: left;
        width: 27%;
        border: none;
        height: rem(67px);
        img {
            max-width: 100%;
        }
    }
}



.font-resize {
    background: #009640;
    padding: rem(10px);
    position: absolute;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    width: rem(70px);
    right: 0;
    top: rem(50px);
    .fa {
        margin: 0 rem(4px);
        color: #fff;
        cursor: pointer;
    }
}

.font-resize.active,
.google_translate_element.active {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    top: 112%;
}

.skiptranslate {
    display: none;
}

.skiptranslate.goog-te-gadget {
    display: block;
}

.google_translate_element {
    background: #FECA00;
    color: #fff;
    font-size: 1em;
    padding: 10px;
    position: absolute;
    top: rem(50px);
    right: 0;
    z-index: 99999;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    transition: 0.5s;
    text-align: center;
    .goog-logo-link {
        display: none;
    }
}

.main-header .date {
    position: absolute;
    background: rgba(255, 255, 255, 0.52);
    text-align: center;
    font: 1rem "Lato", sans-serif;
    width: 16.375rem;
    bottom: 0;
    color: #fff;
    padding: 0.6875rem 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}






.yamm {

    background-color: transparent;
    border: none;
    margin: 0;
    display: flex;
    .navbar-header {
        position: relative;

    }
    .navbar-brand {
        width: rem(262px);
        height: 100%;
        background: #fff;
        box-shadow: 0 rem(3px) rem(6px) rgba(0, 0, 0, .16);
        text-align: center;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        &:hover {
            background: #fff;
        }
        img {
            display: inline-block;
            max-width: rem(145px);
        }
    }
    .navbar-collapse {
        width: calc(100% - 16.375rem);
        padding-left: 0;
    }
    .navbar-nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        align-items: flex-end;
    }
    .yamm-fw {
        width: 100%;
        text-align: center;
    }
    .navbar-nav > li > a {
        font-size: rem(17px);
        font-weight: 700;
        color: #292929;
        &:hover,
        &:focus {
            background: none !important;
        }

    }
    .yamm-fw {
        > a {
            border-bottom: rem(8px) solid #FFC107;
            position: relative;
            &:after {
                content: "";
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-left-width: rem(30px);
                border-right-width: rem(30px);
                border-top: rem(30px) solid #FECA00;
                position: absolute;
                bottom: rem(-37px);
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 9999;
                display: none;
            }
        }
        &:nth-child(1) {
            a {
                border-color: #FECA00;
            }
        }
        &:nth-child(2) {
            a {
                border-color: #27AE60;
            }
        }
        &:nth-child(3) {
            a {
                border-color: #E53935;
            }
        }
        &:nth-child(4) {
            a {
                border-color: #009EE2;
            }
        }
    }
    .yamm-fw.open {
        > a {
            &:after {
                display: block;
            }
        }
        &:nth-child(1) {
            a {
                &:after {
                    border-top-color: #FECA00;
                }
            }
        }
        &:nth-child(2) {
            a {
                &:after {
                    border-top-color: #27AE60;
                }
            }
        }
        &:nth-child(3) {
            a {
                &:after {
                    border-top-color: #E53935;
                }
            }
        }
        &:nth-child(4) {
            a {
                &:after {
                    border-top-color: #009EE2;
                }
            }
        }
    }
    .menu-logo {
        width: rem(98px);
        a {
            padding: 0;
            border: none;
        }
    }
    .dropdown-menu {
        background: rgba(255, 255, 255, .90);
        width: calc(100% - 16.375rem);
    }
    .mega-drop {
        padding: 0;
        margin: 0;
        list-style: none;
        padding: rem(30px);
        li {
            a {
                font: 700 rem(16px) $l;
                line-height: rem(32px);
                color: #292929;
                display: inline-block;
                span {
                    color: #E30606;
                }
            }
        }
        li.extra {
            margin-top: rem(18px);
            img {
                margin-right: rem(10px);
            }
        }
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #292929; //    background: none;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: auto;
    border-radius: 0;
}

.mobile-icon,
.search-bottom {
    display: none;
}

/*============================= Slider =========================*/

.slider {
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        box-shadow: 0 0 rem(217px) rem(116px) #000000;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .background {
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    .content {
        min-height: rem(630px);
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        padding: 0 rem(15px);
        h2 {
            color: #fff;
            font: rem(900 44px $l);
            max-width: rem(585px);
        }

    }
    .carousel-indicators li {
        display: inline-block;
        width: rem(32px);
        height: rem(32px);
        margin: 0;
        text-indent: -999px;
        cursor: pointer;
        background-color: transparent;
        border: rem(3px) solid transparent;
        border-radius: 50%;
        padding: rem(7px);
        margin: 0 rem(5px);
        span {
            width: rem(12px);
            height: rem(12px);
            margin: 0 auto;
            background: #FECA00;
            display: block;
            border-radius: 50%;
        }
        &:nth-child(2) {
            span {
                background: #009640;
            }
        }
        &:nth-child(3) {
            span {
                background: #E30606;
            }
        }
        &:nth-child(4) {
            span {
                background: #0099FF;
            }
        }
    }
    .carousel-indicators li.active {
        border-color: #fff;
    }
    .carousel-control {
        width: auto;
        background: transparent;
        opacity: 1;
        text-shadow: none;
        i {
            width: rem(32px);
            height: rem(60px);
            background: #fff;
            text-align: center;
            color: #000;
            font-size: rem(32px);
            line-height: rem(55px);
            box-shadow: 0 rem(3px) rem(6px) #000;
            top: 50%;
            position: absolute;
            margin-top: rem(-30px);
        }
        .fa-caret-right {
            right: 0;
        }
    }
    .animated {
        animation-duration: 2s;
    }
}

a.blog-button {
    font: 700 rem(13px) $l;
    background: #292929;
    color: #fff;
    border-radius: 0;
    position: relative;
    margin-left: rem(15px);
    &:hover {
        color: #fff;
    }
    &:before {
        content: "";
        position: absolute;
        width: rem(9px);
        height: 37%;
        background: #E30606;
        left: rem(-10px);
        top: 0;
    }
    .border-left {
        position: absolute;
        width: rem(9px);
        height: 37%;
        background: #009640;
        left: rem(-10px);
        top: 50%;
        margin-top: rem(-4.5px);

    }
    &:after {
        content: "";
        position: absolute;
        width: rem(9px);
        height: 37%;
        background: #FECA00;
        left: rem(-10px);
        bottom: rem(-1px);
    }
}

/*============================= banner-alart =========================*/

.banner-alart {
    font-size: rem(22px);
    font-weight: 500;
    background: #FFD600;
    padding: rem(6px) 0;
    p {
        margin: 0;
        a {
            color: #000;
        }
        i {
            font-size: rem(33px);
            line-height: 1;
            position: relative;
            top: rem(4px);
        }
    }
}

/*============================= Notice =========================*/

.section-head {
    font-size: rem(40px);
    padding-bottom: rem(20px);
}

.notice {
    background: #ECEFF1;
    padding-top: rem(50px);
    padding-bottom: rem(44px);
    .content {
        box-shadow: 0 rem(3px) rem(6px) #000;
        margin-bottom: rem(40px);
        .img {
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                box-shadow: 0 0 rem(90px) rem(50px) #000000;
            }
            img {
                width: 100%;
            }
            .date {
                position: absolute;
                top: rem(10px);
                left: rem(15px);
                z-index: 1;
                font: rem(14px) $l;
                color: #fff;
            }
        }
        .social {
            background: #fff;
            a.twitter,
            a.facebook {
                background: #00ACED;
                color: #fff;
                border-radius: 0;
                margin: 0;
                font: 900 rem(12px) $l;
                padding: rem(5px) rem(5px);
                min-width: rem(67px);
                position: relative;
                top: rem(-12px);
                i {
                    font-size: rem(16px);
                    margin-right: rem(4px);
                }
            }
            a.facebook {
                left: rem(-4px);
                background: #3B5998;
            }
        }
        .text {
            background: #fff;
            padding: rem(0) rem(15px) rem(10px) rem(15px);
            a.title {
                font-size: rem(16px);
                font-weight: 700;
                max-width: rem(226px);
                color: #000;
            }
            p {
                font-size: rem(15px);
                color: #292929;
                margin: rem(10px) 0;
            }
        }
    }
}

a.view-more {
    font-size: rem(22px);
    font-weight: 700;
    color: #292929;
    text-decoration: none;
    display: inline-block;
    span {
        color: #E30606;
    }
}

/*============================= main-footer =========================*/

/*============================= service =========================*/

.service {
    background: url(../images/fondo-servicios.jpg) no-repeat;
    background-size: cover;
    min-height: rem(1000px);
    padding-top: rem(35px);
    padding-bottom: rem(150px);
    .section-head {
        color: #fff;
        padding-bottom: rem(70px);
    }
    .owl-carousel .owl-item img {
        width: auto;
        margin: 0 auto;
    }
    .nav {
        text-align: center;
        li {
            display: inline-block;
            margin: rem(5px) rem(30px);
            a {
                padding: 0;
                color: #fff;
                font: 500 rem(26px) $r;
                &:hover,
                &:focus {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
        li.active {
            a {
                text-decoration: underline;
            }
        }
    }
    .tab-content {
        padding-top: rem(100px);
    }
    .content {
        text-align: center;
        .item-top {
            padding-bottom: rem(120px);
        }
        img {
            max-width: 100%;

        }
        a {
            color: #fff;
            font: rem(21px) $r;
            display: inline-block;
            margin-top: rem(45px);
        }
    }
    .owl-nav {
        i {
            font-size: rem(40px);
            color: #fff;
            position: absolute;
            top: 50%;
            margin-top: rem(-20px);
        }
        .owl-prev {
            i {
                left: rem(-14px);
            }
        }
        .owl-next {
            i {
                right: rem(-14px);
            }
        }
    }
    .owl-dots {
        text-align: center;
        margin-top: rem(60px);
        position: absolute;
        left: 0;
        right: 0;
        .owl-dot {
            width: rem(57px);
            height: rem(6px);
            background: rgba(255, 255, 255, .40);
            display: inline-block;
            margin: 0 rem(12px);
        }
        .owl-dot.active {
            background: #fff;
        }
    }
}

.video-gallery {
    margin-top: rem(310px);
    background: #182A47;
    padding-bottom: rem(73px);
    iframe {
        width: 100%;
    }
    iframe.big {
        min-height: 470px;
    }
    iframe.small {
        min-height: rem(148px);
        margin-bottom: rem(5px);
    }
    .social-site {
        margin-top: rem(52px);
    }
    .section-up {
        margin-top: rem(-290px);
    }
    .section-head {
        margin-bottom: rem(20px);
    }
}

/*============================= mix =========================*/

.sidebar-head {
    font-size: rem(28px);
    color: #fff;
    background: #E53935;
    border-radius: rem(8px) rem(8px) 0 0;
    padding: rem(3px) 0;
}

.mix {
    background: url(../images/fondo-panoramica.jpg) no-repeat center;
    background-size: cover;
    padding-top: rem(119px);
    .view-more {
        margin-top: rem(15px);
    }
}

/*============================= announce =========================*/

.announce-title {
    margin-bottom: rem(36px);
}

.announce-content-wraper {
    .content {
        margin-bottom: rem(20px);
        .date {
            background: #E53935;
            width: (100% / 3);
            font-size: rem(14px);
            color: #fff;
            text-align: center;
            border-radius: rem(8px) rem(8px) 0 0;
            padding: rem(5px) 0;
        }
        .img {
            display: flex;
            position: relative;
            img {
                width: (100% / 3);
                float: left;
            }
            p {
                margin: 0;
                float: left;
                width: 100% - (100% / 3);
                background: #fff;
                color: #292929;
                font-size: rem(16px);
                font-weight: 700;
                padding: rem(15px) rem(18px);
                border-radius: 0 rem(8px) 0 0;
                box-shadow: 0 rem(3px) rem(5px) rgba(0, 0, 0, .2);
                display: flex;
                align-items: center;
            }
            .border-bottom,
            &:before,
            &:after {
                content: "";
                background: #009640;
                height: rem(4px);
                width: (100% / 2.9);
                position: absolute;
                bottom: rem(-3px);

            }
            .border-bottom {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            &:before {
                left: 0;
                background: #FECA00;
            }
            &:after {
                right: 0;
                background: #E30606;
            }
        }
        .button {
            background: #37474F;
            font: 700 rem(13px) $l;
            color: #fff;
            border-radius: 0 0 rem(8px) rem(8px);
            box-shadow: 0 rem(3px) rem(6px) rgba(0, 0, 0, .16);
            padding: rem(6px) rem(18px);
        }
    }
}

/*============================= calander =========================*/

.calander-sidebar {
    .calander-title {
        background: #27AE60;
    }
}

.calander-sidebar-content-wraper {
    background: #fff;
    padding: rem(15px);
    box-shadow: 0 rem(2px) rem(4px) rgba(0, 0, 0, .30);
    .content {
        margin-bottom: rem(25px);
    }
    h4 {
        margin: 0;
        color: #27AE60;
        font-weight: 700;
        font-size: rem(22px);
        margin-bottom: rem(10px);
    }
    .date {
        display: inline-block;
        position: relative;
        float: left;
        margin-right: rem(18px);
        i {
            font-size: rem(68px);
            color: #66CC92;
        }
        span {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            font: 900 rem(22px) $l;
            text-align: center;
            margin-top: rem(-6.5px);
            color: #292929;
        }
    }
    a.title-link {
        font-size: rem(16px);
        font-weight: 700;
        color: #292929;
        vertical-align: top;
        margin-top: rem(16px);
        display: inline-block;
        float: left;
        width: 80%;
    }

}

.sider-bar {
    > div {
        margin-bottom: rem(55px);
        border-radius: 0 0 rem(8px) rem(8px);
        overflow: hidden;
    }
}

/*============================= poll =========================*/

.poll-sidebar {
    .poll-title {
        background: #FF7700;
    }
    .ratio-check {
        input {
            display: none;
        }
        label {
            text-transform: uppercase;
            font-size: rem(16px);
            font-weight: 700;
            font-family: $l;
            text-transform: uppercase;
        }
        span {
            height: rem(24px);
            width: rem(24px);
            border: rem(3px) solid #E30606;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            margin-right: rem(8px);
            bottom: rem(-5px);
        }
        input[type="radio"]:checked + label span::after {
            content: "";
            width: rem(12px);
            height: rem(12px);
            background: #E30606;
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            margin-top: rem(-6px);
        }
    }
}

.poll-form {
    background: #fff;
    box-shadow: 0 rem(3px) rem(6px) rgba(0, 0, 0, .16);
    border-radius: 0 0 rem(8px) rem(8px);
    overflow: hidden;
    .form-padding {
        padding: rem(25px);
    }
    h3 {
        margin: 0;
        font: 900 rem(16px) $l;
        text-align: center;
        max-width: rem(466px);
        margin-bottom: rem(10px);
    }
    .submit {
        display: flex;
        background: #fff;
        padding-bottom: rem(20px);
        p {
            float: left;
            width: calc(100% - 10.25rem);
            background: #000000;
            min-height: rem(48px);
            color: #fff;
            margin: 0;
            font: rem(14px) $l;
            display: flex;
            align-items: center;
            padding: 0 rem(22px);
        }
        input {
            //            min-height: rem(48px);
            width: rem(164px);
            background: #FF7700;
            border: none;
            float: left;
            font-weight: 700;
            font-size: rem(16px);
            color: #fff;
        }
    }
}

/*============================= subscribe =========================*/

.subscribe {
    background: rgba(25, 118, 210, 9);
    padding: rem(20px) 0;
    h2 {
        margin: 0;
        font-size: rem(22px);
        font-weight: 700;
        color: #fff;
    }
    form {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    }
    input[type="text"] {
        font: italic rem(22px) $l;
        color: #fff;
        height: rem(48px);
        width: 100%;
        background: none;
        border: rem(1px) solid #fff;
        padding: 0 rem(15px);
    }
    input[type="submit"] {
        width: 100%;
        background: #F1F1F1;
        font: 16px $l;
        color: #2D81D4;
        border: none;
        height: rem(48px);
        border: rem(1px) solid transparent;
        transition: .3s;
        &:hover {
            color: #fff;
            background: none;
            border-color: #fff;
        }
    }
}

/*============================= patner =========================*/

.patner {
    background: #fff;
    padding: rem(50px) 0;
    .carousel-wraper {
        max-width: 1088px;
        margin: 0 auto;
    }
    .owl-nav {
        i {
            width: rem(32px);
            height: rem(60px);
            background: #fff;
            text-align: center;
            color: #000;
            font-size: rem(32px);
            line-height: rem(55px);
            box-shadow: 0 rem(3px) rem(6px) rgba(0, 0, 0, .16);
            top: 50%;
            position: absolute;
            margin-top: rem(-30px);
        }
        .owl-prev {
            i {
                left: rem(-24px);
            }
        }
        .owl-next {
            i {
                right: rem(-24px);
            }
        }
    }
}

/*============================= main-footer =========================*/

.main-footer {
    background: #1F292E;
    .flex-widget {
        display: flex;
        flex-flow: row wrap;
    }
    .widget {
        color: #fff;
        font-size: rem(14px);
        padding: rem(25px) 0;
        border-bottom: rem(8px) solid #FFC107;
        height: 100%;
        a {
            font-weight: 700;
            color: #fff;
        }
    }
    .widget-1 {
        border-color: #FFC107;
    }
    .widget-2 {
        border-color: #009640;
    }
    .widget-3 {
        border-color: #E30606;
    }
}

.footer-logo {
    display: inline-block;
    margin: rem(25px) 0;
}

.footer-social {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    padding-bottom: rem(10px);
    li {
        display: inline-block;
        margin: rem(5px) rem(24px);
        a {
            display: block;
            width: rem(30px);
            height: rem(30px);
            background: #fff;
            color: #1F292E;
            border-radius: 50%;
            text-align: center;
            line-height: rem(30px);

        }
    }
}

.copy {
    background: #000000;
    padding: rem(10px) 0;
    min-height: rem(74px);
    p {
        margin: 0;
        text-align: center;
        color: #fff;
        font: rem(13px) $l;
        line-height: 1.5;
    }
}

.notice {
    position: relative;
}

ul.sider-bar-icon {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    position: absolute;
    left: rem(17px);
    top: 24%;

    li {
        margin-bottom: rem(20px);
    }
}

@media (min-width:992px) {
    .main-header {
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 99999;
        top: 0;
        transition: .3s;
    }

    .slider {
        margin-top: rem(133px);
    }

    .search-top,
    .yamm .navbar-brand img,
    .yamm .navbar-nav > li > a,
    .yamm .navbar-brand,
    .yamm .navbar-collapse,
    .yamm .dropdown-menu {
        transition: .3s;
    }
    .yamm .navbar-brand {
        position: relative;
        z-index: 9999;
    }

    .social-top.social-top-3 {
        display: none;
        text-align: center;
        li {
            margin: 4px;
        }
    }
    .main-header.scroll {
        top: -42px;
        .yamm .navbar-nav > li > a {
            font-size: rem(14px);
        }

        .search-top {
            top: 0;
            z-index: -1;
            opacity: 0;
        }
        .yamm .navbar-brand {
            width: rem(164px);
        }
        .yamm .navbar-collapse {
            width: calc(100% - 10.125rem);
        }
        .yamm .navbar-brand img {
            max-width: rem(115px);
        }
        .yamm .menu-logo > a {
            display: none;
        }
        .social-top.social-top-3 {
            display: block;
        }
        .yamm .menu-logo {
            width: 110%;
        }

        .google_translate_element.active {
            top: 293%;
        }
        .search-top-2 {
            top: 180%;
            z-index: 9999;
            opacity: 0;
            visibility: hidden;
            right: 0;
            left: auto;
            width: 250px;
            background: #000;
        }
        .search-top input {
            width: calc(73% - 20px);
            margin: 10px;
            color: #fff;
        }
        .search-top button {
            height: 50px;
        }
        .search-top-2.active {
            opacity: 1;
            filter: alpha(opacity=100);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            visibility: visible;
            top: 126%;
        }
        .yamm .dropdown-menu {
            width: calc(100% - 164px);

        }
    }
}
