@import "_rem.scss";
$l: 'Lato',
sans-serif;
$r: 'Roboto',
sans-serif;
body {
    font-family: $r;
    color: #000;
    background: #ECEFF1;
}

.container,
[class*='col-'] {
    padding-left: rem(15px);
    padding-right: rem(15px);
}

.row {
    margin-right: rem(-15px);
    margin-left: rem(-15px);
}



@media (min-width:576px) {
    .container {
        width: 550px;
    }
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: rem(970px);
    }
}

@media (min-width:1200px) {
    .container {
        width: rem(1170px);
    }
}

/*============================= Slider =========================*/

.slider {
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        box-shadow: 0 0 rem(217px) rem(116px) #000000;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .background {
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    .content {
        min-height: rem(630px);
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        padding: 0 rem(15px);
        h2 {
            color: #fff;
            font: rem(900 44px $l);
            max-width: rem(585px);
        }

    }
    .carousel-indicators li {
        display: inline-block;
        width: rem(32px);
        height: rem(32px);
        margin: 0;
        text-indent: -999px;
        cursor: pointer;
        background-color: transparent;
        border: rem(3px) solid transparent;
        border-radius: 50%;
        padding: rem(7px);
        margin: 0 rem(5px);
        span {
            width: rem(12px);
            height: rem(12px);
            margin: 0 auto;
            background: #FECA00;
            display: block;
            border-radius: 50%;
        }
        &:nth-child(2) {
            span {
                background: #009640;
            }
        }
        &:nth-child(3) {
            span {
                background: #E30606;
            }
        }
        &:nth-child(4) {
            span {
                background: #0099FF;
            }
        }
    }
    .carousel-indicators li.active {
        border-color: #fff;
    }
    .carousel-control {
        width: auto;
        background: transparent;
        opacity: 1;
        text-shadow: none;
        i {
            width: rem(32px);
            height: rem(60px);
            background: #fff;
            text-align: center;
            color: #000;
            font-size: rem(32px);
            line-height: rem(55px);
            box-shadow: 0 rem(3px) rem(6px) #000;
            top: 50%;
            position: absolute;
            margin-top: rem(-30px);
        }
        .fa-caret-right {
            right: 0;
        }
    }
    .animated {
        animation-duration: 2s;
    }
}

a.blog-button {
    font: 700 rem(13px) $l;
    background: #292929;
    color: #fff;
    border-radius: 0;
    position: relative;
    margin-left: rem(15px);
    &:hover {
        color: #fff;
    }
    &:before {
        content: "";
        position: absolute;
        width: rem(9px);
        height: 37%;
        background: #E30606;
        left: rem(-10px);
        top: 0;
    }
    .border-left {
        position: absolute;
        width: rem(9px);
        height: 37%;
        background: #009640;
        left: rem(-10px);
        top: 50%;
        margin-top: rem(-4.5px);

    }
    &:after {
        content: "";
        position: absolute;
        width: rem(9px);
        height: 37%;
        background: #FECA00;
        left: rem(-10px);
        bottom: rem(-1px);
    }
}

/*============================= banner-alart =========================*/

.banner-alart {
    font-size: rem(22px);
    font-weight: 500;
    background: #FFD600;
    padding: rem(6px) 0;
    p {
        margin: 0;
        a {
            color: #000;
        }
        i {
            font-size: rem(33px);
            line-height: 1;
            position: relative;
            top: rem(4px);
        }
    }
}

/*============================= Notice =========================*/

.section-head {
    font-size: rem(40px);
    padding-bottom: rem(20px);
}

.notice {
    background: #ECEFF1;
    padding-top: rem(50px);
    padding-bottom: rem(44px);
    .content {
        box-shadow: 0 rem(3px) rem(6px) #000;
        margin-bottom: rem(40px);
        .img {
            position: relative;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                box-shadow: 0 0 rem(90px) rem(50px) #000000;
            }
            img {
                width: 100%;
            }
            .date {
                position: absolute;
                top: rem(10px);
                left: rem(15px);
                z-index: 1;
                font: rem(14px) $l;
                color: #fff;
            }
        }
        .social {
            background: #fff;
            a.twitter,
            a.facebook {
                background: #00ACED;
                color: #fff;
                border-radius: 0;
                margin: 0;
                font: 900 rem(12px) $l;
                padding: rem(5px) rem(5px);
                min-width: rem(67px);
                position: relative;
                top: rem(-12px);
                i {
                    font-size: rem(16px);
                    margin-right: rem(4px);
                }
            }
            a.facebook {
                left: rem(-4px);
                background: #3B5998;
            }
        }
        .text {
            background: #fff;
            padding: rem(0) rem(15px) rem(10px) rem(15px);
            a.title {
                font-size: rem(16px);
                font-weight: 700;
                max-width: rem(226px);
                color: #000;
            }
            p {
                font-size: rem(15px);
                color: #292929;
                margin: rem(10px) 0;
            }
        }
    }
}

a.view-more {
    font-size: rem(22px);
    font-weight: 700;
    color: #292929;
    text-decoration: none;
    span {
        color: #E30606;
    }
}

/*============================= video-gallery =========================*/

.video-gallery {
    margin-top: rem(310px);
    background: #182A47;
    padding-bottom: rem(73px);
    iframe {
        width: 100%;
    }
    iframe.big {
        min-height: rem(470px);
    }
    iframe.small {
        min-height: rem(148px);
        margin-bottom: rem(5px);
    }
    .social-site {
        margin-top: rem(52px);
    }
    .section-up {
        margin-top: rem(-290px);
    }
    .section-head {
        margin-bottom: rem(20px);
    }
}

/*============================= mix =========================*/

.sidebar-head {
    font-size: rem(28px);
    color: #fff;
    background: #E53935;
    border-radius: rem(8px) rem(8px) 0 0;
    padding: rem(3px) 0;
}

.mix {
    background: url(../images/fondo-panoramica.jpg) no-repeat center;
    background-size: cover;
    padding-top: rem(119px);
}

.announce-title {
    margin-bottom: 36px;
}

.announce-content-wraper {
    .content {
        margin-bottom: 20px;
        .date {
            background: #E53935;
            width: (100% / 3);
            font-size: rem(14px);
            color: #fff;
            text-align: center;
            border-radius: rem(8px) rem(8px) 0 0;
            padding: rem(5px) 0;
        }
        .img {
            display: flex;
            position: relative;
            img {
                width: (100% / 3);
                float: left;
            }
            p {
                margin: 0;
                float: left;
                width: 100% - (100% / 3);
                background: #fff;
                color: #292929;
                font-size: rem(16px);
                font-weight: 700;
                padding: rem(15px) rem(18px);
                border-radius: 0 rem(8px) 0 0;
                box-shadow: 0 rem(3px) rem(5px) rgba(0, 0, 0, .2);
                display: flex;
                align-items: center;
            }
            .border-bottom,
            &:before,
            &:after {
                content: "";
                background: #009640;
                height: rem(4px);
                width: (100% / 2.9);
                position: absolute;
                bottom: rem(-3px);

            }
            .border-bottom {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            &:before {
                left: 0;
                background: #FECA00;
            }
            &:after {
                right: 0;
                background: #E30606;
            }
        }
        .button {
            background: #37474F;
            font: 700 rem(13px) $l;
            color: #fff;
            border-radius: 0 0 rem(8px) rem(8px);
            box-shadow: 0 rem(3px) rem(6px) rgba(0, 0, 0, .16);
            padding: rem(6px) rem(18px);
        }
    }
}
